#sign-up
{
    height: 640px;
    width:350px;
    border:1px solid #f2f2f2;
    margin: auto;
}
#div2
{
    height: 60px;
    width:350px;
    border:1px solid #f2f2f2;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 20px;
}
#img img
{
    width: 220px;
    height: 90px;

}
#text1
{
    opacity: 0.6;
}
#button
{
    width: 80%;
    height: 35px;
    background-color: #4cb5f9;
    border-radius: 8px;
   color: white;
   margin-bottom: 10px;
   border: none;
}

#input
{
    width: 80%;
    height: 35px;
    margin: 10px;

}
#text2
{
    font-size: 12px;
    margin: 20px;
    opacity: 0.5px;
}






/* ------------------ Login--------------------- */
#login
{
    height: 400px;
    width:350px;
    border:1px solid #f2f2f2;
    margin-top: 100px;
}







/* ------------------ Footer--------------------- */
#foot{
    height:5vh;
    width:60%;
    /* border: 1px solid black; */
    display: flex;
    margin-left: 300px;
}

#foot>div{
    /* width:5%; */
    height:5vh;
    /* border: 1px solid black; */
    margin-left: 15px;
    font-size: 12px;
    opacity:0.8;
    text-wrap:nowrap;
}

#language{
    margin-left: 40%;

}
#language>select{
    margin: none;
    outline: none;
    Border: none;
    opacity:0.8;
    font-size: 12px;
}

#language>small{
    opacity:0.8;
    font-size: 12px;
}

/* HomePage */
#homePage{
    display: flex;
    width:100%;
    
}
.home-sidenav{
    border-right:1px solid grey;
    height: 100vh;
    width:16%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.home-sidenav >div{
    width:100%;
     /* border:1px solid blue; */
}
.home-sidenav >div:nth-child(1){
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home-sidenav >div:nth-child(2){
    height: 10%;
    display: flex;
    align-items: center;
    padding: 0 10%;
    font-size: 1.4vw;
}
.home-sidenav >div:nth-child(2) >p{
    padding-left: 5%;
}
.home-sidenav >div:nth-child(1) >div:nth-child(1){
    /* border:1px solid peru; */
    height: 12%;
    width:80%;
    margin: auto;
}
.home-sidenav >div:nth-child(1) >div:nth-child(1) >img{
    height: 100%;
    width:100%;
}
.home-side-links{
    /* border:1px solid tomato; */
    height: 80%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.home-side-links >div{
    /* border:1px solid peru; */
    height: 15%;
    display: flex;
    justify-content: space-around;
    width:40%;
    margin-left: 5%;
    align-items: center;
}
.home-side-links >div p, i{
    font-size: 1.2vw;
}
.home-side-links >div:nth-child(5){
    width:55%;
}
.home-side-links >div:nth-child(6){
    width:60%;
}


#profileinfo
{
    width: 55%;
    height: 250px;
    border-bottom: 1px solid #e3e3e3;
    margin-left: 200px;
    margin-right: 100px;
    display: flex;
}
#profileimg
{
    width:35% ;
    height:250px ;
    /* border: 1px solid red; */
}
#pic
{
    border-radius: 75px;
    height: 150px;
    width: 150px;
    margin-top: 35px;
    border: 1px solid #373737;
   
}
#profilename
{
    width:65% ;
    height:250px ;
    /* border: 1px solid red; */
    
}
#infodiv
{
    width: 80%;
    height: 50px;
    /* border: 1px solid red; */
    margin-top: 50px;
   
}

#edit
{
    width:100px ;
    height: 30px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
}
#divF
{
    width: 60%;
    height: 50px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;

  
   
}
