#sign-up
{
    height: 640px;
    width:350px;
    border:1px solid #f2f2f2;
    margin: auto;
}
#div2
{
    height: 60px;
    width:350px;
    border:1px solid #f2f2f2;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 20px;
}
#img img
{
    width: 220px;
    height: 90px;

}
#text1
{
    opacity: 0.6;
}
#button
{
    width: 80%;
    height: 35px;
    background-color: #4cb5f9;
    border-radius: 8px;
   color: white;
   margin-bottom: 10px;
   border: none;
}

#input
{
    width: 80%;
    height: 35px;
    margin: 10px;

}
#text2
{
    font-size: 12px;
    margin: 20px;
    opacity: 0.5px;
}






/* ------------------ Login--------------------- */
#login
{
    height: 400px;
    width:350px;
    border:1px solid #f2f2f2;
    margin-top: 100px;
}







/* ------------------ Footer--------------------- */
#foot{
    height:5vh;
    width:60%;
    /* border: 1px solid black; */
    display: flex;
    margin-left: 300px;
}

#foot>div{
    /* width:5%; */
    height:5vh;
    /* border: 1px solid black; */
    margin-left: 15px;
    font-size: 12px;
    opacity:0.8;
    text-wrap:nowrap;
}

#language{
    margin-left: 40%;

}
#language>select{
    margin: none;
    outline: none;
    Border: none;
    opacity:0.8;
    font-size: 12px;
}

#language>small{
    opacity:0.8;
    font-size: 12px;
}

/* HomePage */
#homePage{
    display: flex;
    width:100%;
    
}
.home-sidenav{
    border-right:1px solid grey;
    height: 100vh;
    width:16%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.home-sidenav >div{
    width:100%;
     /* border:1px solid blue; */
}
.home-sidenav >div:nth-child(1){
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home-sidenav >div:nth-child(2){
    height: 10%;
    display: flex;
    align-items: center;
    padding: 0 10%;
    font-size: 1.4vw;
}
.home-sidenav >div:nth-child(2) >p{
    padding-left: 5%;
}
.home-sidenav >div:nth-child(1) >div:nth-child(1){
    /* border:1px solid peru; */
    height: 12%;
    width:80%;
    margin: auto;
}
.home-sidenav >div:nth-child(1) >div:nth-child(1) >img{
    height: 100%;
    width:100%;
}
.home-side-links{
    /* border:1px solid tomato; */
    height: 80%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.home-side-links >div{
    /* border:1px solid peru; */
    height: 15%;
    display: flex;
    justify-content: space-around;
    width:40%;
    margin-left: 5%;
    align-items: center;
}
.home-side-links >div p, i{
    font-size: 1.2vw;
}
.home-side-links >div:nth-child(5){
    width:55%;
}
.home-side-links >div:nth-child(6){
    width:60%;
}


#profileinfo
{
    width: 55%;
    height: 250px;
    border-bottom: 1px solid #e3e3e3;
    margin-left: 200px;
    margin-right: 100px;
    display: flex;
}
#profileimg
{
    width:35% ;
    height:250px ;
    /* border: 1px solid red; */
}
#pic
{
    border-radius: 75px;
    height: 150px;
    width: 150px;
    margin-top: 35px;
    border: 1px solid #373737;
   
}
#profilename
{
    width:65% ;
    height:250px ;
    /* border: 1px solid red; */
    
}
#infodiv
{
    width: 80%;
    height: 50px;
    /* border: 1px solid red; */
    margin-top: 50px;
   
}

#edit
{
    width:100px ;
    height: 30px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
}
#divF
{
    width: 60%;
    height: 50px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;

  
   
}

/* ------------------------------------------------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#signup-fullpage {
    /* border: 1px solid black; */
    width: 100%;
    height: 800px;
}

#signup {
    border: 1px solid grey;
    width: 25%;
    margin: auto;
    height: 550px;
    margin-top: 50px;
}

#signup-one {
    /* border: 1px solid black; */
    width: 100%;
    height: 100px;
}

#signup-one img {
    width: 60%;
    margin-left: 70px;
    height: 100%;
}

#signup-five {
    /* border: 1px solid black; */
    width: 75%;
    margin: auto;
    height: 40px;
    margin-top: 13px;
}

#signup-five-one {
    /* border: 1px solid black; */
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    background-color: rgb(0,149,246);
    color: white;
    border: none;
    outline: none;
}

#signup-five-f-one i {
    padding-top: 12px;
}

#signup-five-f-two p {
    margin-top: 7px;
    margin-left: 15px;
}

#signup-five-two {
    text-align: center;
}

#signup-two {
    /* border: 1px solid black; */
    width: 100%;
    height: 150px;
}

#signup-two form {
    text-align: center;
}

#signup-two form input {
    height: 30px;
    margin-top: 5px;
    width: 75%;
}

#signup-three{
    margin-top: 8px;
}

#signup-three fieldset {
    border: none;
    border-top: 1px solid grey;
    text-align: center;
    width: 75%;
    margin: auto;
}

#signup-four {
    /* border: 1px solid black; */
    width: 75%;
    margin: auto;
    font-size: 12px;
    height: 48px;
    margin-top: 12px;
   text-align: center;
}

#signup-content {
    /* border: 1px solid grey; */
    width: 75%;
    margin: auto;
    height: 35px;
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
}

#signup-content-info{
    /* border: 1px solid grey; */
    width: 75%;
    margin: auto;
    height: 40px;
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}
#signup-two >form >input:last-child{
    background-color: #158bda;
    border:none;
    outline: none;
    color:white;
    font-size: 1.2vw;
}


/* login */
#login>div {
    height: 85vh;
    width: 100%;
    border: 1px solid red;
}

.login-top {
    height: 60%;
    width: 22%;
    margin: 1% auto;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.login-logo {
    /* border:1px solid blue; */
    height: 20%;
    width: 70%;
    margin: auto;
    overflow: hidden;
}

.login-logo>img {
    width: 100%;
    max-height: 100%;
}

.login-form {
    /* border:1px solid tomato; */
    height: 40%;
    width: 80%;
    margin: auto;
}

.login-form>form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.login-form>form>input {
    width: 100%;
    height: 25%;
    padding: 0 2%;
    border-radius: 4px;
    outline: none;
    border: 1px solid grey;
    color: rgb(72, 72, 72);
    font-size: 1.1vw;
}

.login-form>form>input:last-child {
    margin-top: 2%;
    height: 22%;
    border-radius: 10px;
    background-color: #4cb5f9;
    color: white;
    border: none;
}

.login-or {
    height: 8%;
    width: 100%;
}

.login-or>fieldset {
    border: none;
    border-top: 1px solid grey;
    width: 75%;
    margin: auto;
    font-size: 1vw;
}

.login-or>fieldset>legend {
    padding: 0 5%;
}

.login-password {
    height: 20%;
    /* border:1px solid grey; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.login-password>p:nth-child(1) {
    color: navy;
    font-size: 0.9vw;
}

.login-password>p:nth-child(2) {
    color: grey;
    font-size: 0.9vw;
}

.login-mid {
    border: 1px solid grey;
    width: 22%;
    height: 10%;
    margin: auto;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
    padding: 0 3.8%;
}

.login-mid p {
    font-size: 1vw;
}

.login-mid b {
    color: #4cb5f9;
}

.login-bot {
    /* border:1px solid grey; */
    width: 22%;
    height: 20%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.login-bot>p {
    height: 10%;
    align-items: center;
    font-size: 1vw;
}

.login-bot>div {
    /* border:1px solid red; */
    height: 60%;
    display: flex;
    justify-content: space-evenly;
}

.login-bot>div>div {
    width: 40%;
    height: 60%;
    align-self: center;
    /* border:1px solid red; */
}

.login-bot>div>div>img {
    height: 100%;
    width: 100%;
}

/* profile */
.profile-main{
    display: flex;
    width: 100%;
}
.profile-Sidebar{
    width: 20%; 
}
.profile{
    width: 80%;
    margin-left: 100px;
    margin-top: 50px;
    font-family: Arial, sans-serif;
    color: #262626;

}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    width: 800px;
}

.profile-image>img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: url() no-repeat center center;
    background-size: cover;
    margin-right: 20px;
}

.profile-info {
    flex: 1;
}

.profile-username {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}
.profile-username>button{
  height: 40px;
  width: 100px;
  border-radius: 5px;
  border: none;
}

.profile-stats {
    display: flex;
    margin-bottom: 10px;
}

.profile-stat {
    margin-right: 20px;
}

.profile-stat-count {
    font-weight: bold;
}

.profile-bio {
    font-size: 14px;
    line-height: 1.4;
}

.profile-posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.profile-post {
    height: 500px;
    background:  no-repeat center center;
    background-size: cover;
    display: flex;
    flex-wrap: nowrap;
}
#map-Post>img{
   height: 250px;
}
#homePage{
    display: flex;
    width:100%;
  
}
#home-story>div{
   
   
}
.SidebarHome{
    width:100%;
}
.home-content{
    width:55%;
    /* border:1px solid peru;  */
}
#map-postHome{
    margin-top: 30px;
}
#map-postHome>img{
   height: 400px;
   width: 500px;
}
.home-suggestions{
    width:29%;
    height: 50vh;
    margin-top: 5%;
    /* border:1px solid burlywood;  */
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.home-suggestions-top{
    width: 100%;
    height:15%;
    border:1px solid powderblue;
}
.home-suggestions-mid{
    /* border:1px solid red;  */
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home-suggestions-mid >div{
    display: flex;
    height:20%;
    justify-content: space-between;
    align-items: center;
    /* border:1px solid blue;  */
    width:90%;
    margin:auto;
    text-align: left;
}
.home-suggestions-mid >div:nth-child(1){
    height:10%;
}

.home-suggestions-bot{
    /* border:1px solid blue;  */
    height: 15%;
}
.home-profiles{
    display: flex;
    justify-content: space-evenly;
}
.home-profiles >div:nth-child(1){
    border:1px solid blue;
    width:10%;
    height: 100%;
    border-radius: 50%;
}
.home-profiles >div:nth-child(2){
    /* border:1px solid blue; */
    width:75%;
    height: 100%;
}
.home-profiles >div:nth-child(2) >h5{
    font-size: 1vw;
}
.home-profiles >div:nth-child(2) >p{
    font-size: 0.8vw;
}
.home-profiles >div:nth-child(3){
    /* border:1px solid blue; */
    width:10%;
    height: 100%;
    font-size: 0.8vw;
    display: flex;
    color:#4cb5f9;
    align-items: center;
}
.home-suggestions-bot>div:nth-child(1){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width:90%;
    margin: auto;
}
.home-suggestions-bot>div:nth-child(1) >p{
    width:13%;
    font-size: 0.8vw;
    color:grey;
    margin: 0.1% 0;
}
.home-suggestions-bot>div:nth-child(2){
    font-size: 0.9vw;
    text-align: left;
    margin: 1% 6%;
    color:grey;
}
.home-content>div:nth-child(1){
    /* border:1px solid blue; */
    height: 10vh;
    width: 75%;
    margin:3% auto;
    display: flex;
    justify-content: space-evenly;
}
.home-content>div:nth-child(1) >div{
    width:10%;
    height: 100%;
    border:1px solid grey;
    border-radius: 50%;
}

/* Footer */
#footerPage{
    height:10vh;
    /* border:1px solid red; */
}
#foot{
    height:5vh;
    width:80%;
    /* border: 1px solid black; */
    display: flex;
    justify-content:space-evenly;
    margin:auto;
}

#foot>div{
    /* width:5%; */
    height:5vh;
    /* border: 1px solid black; */
    margin-left: 15px;
    font-size: 12px;
    opacity:0.8;
    font-size:0.9vw;
}

#language{
    width:50%;
    margin:auto;
    /* border: 1px solid black; */
}
#language>select{
    margin: none;
    outline: none;
    Border: none;
    opacity:0.8;
    font-size:0.9vw;
}

#language>small{
    opacity:0.8;
    font-size:0.9vw;
}
/* post */
#post{
    height: 100vh;
    width:100%;
}
#post>div:nth-child(1){
    height: 80%;
    width:55%;
    margin: 5% auto;
    border:1px solid grey;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}
.post-top{
    height: 10%;
    width: 98%;
    margin: 0 auto;
    /* border:1px solid grey; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5vw;
}
.post-top i{
    font-size: 1.5vw;
}
.post-mid{
    width:60%;
    height:90%;
    /* border:1px solid purple; */
}
.post-bot{
    width:40%;
    height: 90%;
    /* border:1px solid blue; */
}
.post-bot >div{
    height:80%;
    /* border:1px solid blue; */
}
.post-bot-top{
    height: 70%;
    /* border:1px solid peru; */
}


.post-bot-bot{
    height: 30%;
    /* border:1px solid purple; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.post-bot-bot >div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    margin:auto;
    border-bottom:1px solid grey;
    height:30%;
}
.post-bot-bot >div p,i{
    font-size: 1.2vw;
    color:rgb(54, 54, 54);
    padding: 0 2%; 
}
.post-bot-top>div:nth-child(1){
    /* border: 1px solid red; */
    height:20%;
    display: flex;
    justify-content: space-evenly;
    width: 55%;
    margin-left: 5%;
    align-items: center;
}
.post-bot-top>div:nth-child(1) >div{
    border: 1px solid blue;
    height: 80%;
    width:25%;
    margin: 1% 0;
    border-radius: 50%;
}
.post-bot-top>div:nth-child(1) >p{
    font-size: 1.2vw;
}
.post-bot-top>div:nth-child(2){
    height:80%;
    width:100%;
    /* border: 1px solid rgb(255, 0, 149); */
    display: flex;
    flex-wrap: wrap;
}
.post-bot-top>div:nth-child(2) >input{
    height: 20%;
    width:95%;
    padding: 0 5%;
    font-size: 1.2vw;
    border: none;
    outline: none;
    border:1px solid grey;
    border-radius: 4px;
}
.post-bot-top>div:nth-child(2) >input:nth-child(1){
    height: 60%;
}
.post-button{
    /* border:1px solid grey; */
    height: 10%;
    margin: 10% 0;
}
.post-button >button{
    height: 100%;
    width:40%;
    border-radius: 4px;
    border:none;
    outline: none;
    background-color: #158bda;
    color:white;
    font-size: 1.2vw;
    cursor: pointer;
}
.post-mid >img{
    height: 70%;
    width:95%;
    margin-top: 15%;
    border-radius: 4px;
}
.cursor{
    cursor: pointer;
}